:root {
  --bg: rgb(24, 24, 37);
  --fg: rgb(206, 215, 243);
  --primary: rgb(203, 168, 245);

  --color-1: rgb(139, 182, 248);
  --color-2: rgb(241, 205, 206);
  --color-3: rgb(168, 226, 164);
  --color-4: rgb(249, 179, 139);
}

@font-face {
  font-family: "Monaco";
  font-style: normal;
  font-weight: normal;
  src:
    local("Monaco"),
    url("./Monaco.woff") format("woff");
}

html {
  width: 100vw;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  background-color: var(--bg);
  background-image: url("../img/noise.png");
  width: 7px;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--bg);
  background-image: url("../img/noise.png");
  color: var(--fg);
  margin: 0;
}

#main {
  text-align: center;
  z-index: 2;

  position: sticky;
  top: 0;
  left: 50%;

  margin-top: calc(50vh - 6.66rem);
  padding-bottom: 0.5rem;
}

#main {
  background-color: var(--bg);
  background-image: url("../img/noise.png");
}

.kaomoji {
  font-family: "Monaco", monospace;
  letter-spacing: 0.2rem;
  user-select: none;
  animation: scale-up 2.5s linear forwards;
  color: var(--primary);
}

h1 {
  font-size: clamp(2rem, 4vw, 6.25rem);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  font-weight: 400;

  transition: font-size 0.3s;
}

h2 {
  font-size: clamp(1rem, 2vw, 4rem);
  font-weight: 200;
  margin-bottom: 0;
  color: rgb(108, 113, 133);
  transition: opacity 0.3s;
}

#main.shrink h1 {
  font-size: clamp(1rem, 2vw, 4rem);
  margin-top: 0;
  margin-bottom: 2rem;
}

#main.shrink h2 {
  opacity: 0;
}

section:not(#main) {
  transform: translateY(50vh);
  width: 70vw;
  margin: 0 auto;
}

section.about p {
  font-size: clamp(1.5rem, 3vw, 5rem);
  font-weight: 300;
}

mark {
  color: var(--bg);
  background: none;
  position: relative;
  white-space: pre;
  display: inline-flex;
  --after-scale: 1;
  --color-bg-highlight: var(--color-1);
}

mark.m2 {
  --color-bg-highlight: var(--color-2);
}

mark.m3 {
  --color-bg-highlight: var(--color-3);
}

mark.m4 {
  --color-bg-highlight: var(--color-4);
}

mark::after {
  content: "";
  left: -2.5%;
  top: 10%;
  bottom: -7.5%;
  position: absolute;
  z-index: -1;
  width: 105%;
  transform: scale3D(
    var(--after-scale),
    var(--after-scale),
    var(--after-scale)
  );
  background: var(--color-bg-highlight);
  border-radius: 8px;
}

.scene {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card__img {
  width: 5em;
  border-radius: 5px;
  aspect-ratio: 1;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.group {
  position: absolute;
  left: 50%;
}

.headings {
  text-align: center;
  position: relative;
  z-index: 10;
  display: none;
  max-width: 100vw;
}

.headings__main {
  font-size: clamp(1.8rem, 3.8vw, 6.25rem);
  font-weight: 400;
  z-index: 10;
}

.projects .grid > div {
  grid-row: span 1;
  background: rgba(24, 24, 37, 0.25);
  border-radius: 10px;
  border: 3px solid var(--bg);
  padding: 2rem;
  transition:
    border 0.3s,
    transform 0.3s;
  z-index: 1;
  --color: var(--primary);
}

.projects .grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  padding: 8px;
  border-radius: 8px;
}

.projects h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  transition: color 0.3s;
}

.projects p {
  font-weight: 300;
}

.grid__card:hover h3 {
  color: var(--color);
}

.grid > div:nth-child(4n) {
  --color: var(--color-1);
}

.grid > div:nth-child(4n + 1) {
  --color: var(--color-2);
}

.grid > div:nth-child(4n + 2) {
  --color: var(--color-3);
}

.grid > div:nth-child(4n + 3) {
  --color: var(--color-4);
}

.grid > div:hover {
  border: 3px solid var(--color);
  transform: scale(1.03);
  z-index: 99;
  cursor: pointer;
}

.external-link {
  width: 2rem;
  height: 2rem;
  background-image: url("../img/external-link.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 50%;

  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  opacity: 0;
  transition:
    background-color 0.3s,
    opacity 0.3s;
}

.grid__card:hover .external-link {
  opacity: 1;
  background-color: var(--fg);
}

footer {
  width: 80vw;
  margin: 0 auto;
  transform: translateY(50vh);
  padding: 1em;
  font-weight: 300;
}

footer strong {
  font-weight: 400;
}

.fade {
  filter: brightness(0.7);
}

footer .right {
  float: right;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: var(--color-1);
}

a:hover {
  filter: brightness(1.2);
}

@media (max-width: 1400px) {
  .projects .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  footer .right {
    float: none;
    display: block;
  }

  .grid__card {
    grid-column: span 10 !important;
  }
}
